
<div class="RoR">
  <div class="column">
    <div class="col s6"><h1 class="header center teal-text text-lighten-2">RoR App Blogo </h1> </div>
  </div>
 </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Performance</h5>

            <p class="light">For applications with lots of computation or data handling, Rails could slow the application down. If this is often happening in your application, have a fresh set of eyes take a glance at code optimization — this will greatly improve performance outcomes.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Large Community</h5>

            <p class="light">It’s one of the most popular languages on social coding site GitHub. The community is full of developers that are constantly improving code and serving to others on their projects.

            If you need a given piece of functionality, there’s every chance that someone else has built something similar before or is willing to help you fix any issues you may have. You’ll still need a capable team to work with the code.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to manage changes</h5>

            <p class="light">Ruby on Rails makes it easy to modify the existing code or add new features to the site. After site launch, future modifications to your site (e.g. making any remarkable changes to the data model) is easy and quick to perform.
            This framework is most effective for long-term projects due to its stability and predictability.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  
      
          
       
    <div class="mate">
    <h5 class="header center col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
  

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">This is a simple application was build using RoR (Ruby on Rails) with PostgreSQL, this app allow you to add (Users and Posts) and these records you added will be saved in postgres database. Moreover, you can view the records that you added. I created this app according to the 'Onbording-Part2' requeirments for my internship in Leanios.</p>
        </div>
      </div>

    </div>
  </div>


  
    <div class="about"></div>
  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l3 s12" id="myImg">
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">My Bio</h5>
          <p class="grey-text text-lighten-4">I am a Software Engineering student at Bethlehem University. And I am training at Leanios. It is really great to intern with them because the are very nice and helpful people.</p>
        </div>


        <div class="col l3 s12">
          <h5 class="white-text">Follow Me</h5>
          <ul>
            <li><a class="white-text" href="mailto:rabah5038@gmail.com" target="_blank"><i class="fa fa-google"></i> rabah5038@gmail.com</a></li>
            <li><a class="white-text" href="https://www.facebook.com/mahmoud.rabah.94" target="_blank"><i class="fa fa-facebook"></i>  Mahmoud M. Rabah</a></li>
            <li><a class="white-text" href="https://www.instagram.com/mahmoud_rabah50/" target="_blank"><i class="fa fa-instagram"></i> Mahmoud_rabah50</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Mahmoud Rabah. Copyright &#9400; 2021, All Rights Reserved
      </div>
    </div>
  </footer>
