// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
    ul {
        a{
           color: white;
           size: 1.4rem; 
        }
    }
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }

 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 .RoR {
    background-image: url("bg1.jpeg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h1{
        font-family: "Andalus";
    }
}
.mate {
    @extend .RoR;
    background-image: url("bg2.png");
    h5{
       padding-top: 25vh;

    }
}
.about {
    @extend .RoR;
    background-image: url("about.jpeg");
}
#myImg {
  margin: 25px;
  background-image: url("mahmoud.jpg");
  background-size: cover;
  height: 25vh;
}
li{
  padding: 5px;
 
}